<div ng-if="loadingFlights == true" class="loader-position">
  <div class="valign-wrapper">
    <div class="preloader-wrapper big active valign">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left"></div>
        <div class="circle"></div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="loadingFlights == false">
  <input type="text" class="search" placeholder="Search Flight Code" ng-model="searchArrivals">    
  <table class="highlight z-depth-3" ng-show=result.length>
    <thead>
      <tr>
        <th data-field="code">Code</th>
        <th data-field="carrier">Carrier</th>
        <th data-field="departure_point">Origin</th>
      </tr>
    </thead>
    <tbody ng-repeat="arrival in arrivals|filter:{code: searchArrivals} as result">
      <tr ng-click="showFlight(arrival.id)">
        <td>{{arrival.code}}</td>
        <td>{{arrival.carrier}}</td>
        <td>{{arrival.departure_point}}</td>
      </tr>
    </tbody>
    
  </table>
  <div class="row" ng-show="!result.length">
    <div class="col s12">
      <div class="card red darken-4">
        <div class="card-content white-text center-align">
          <span class="card-title">There are no arrivals with this code.</span>
          <p>Please check flight code and correct any errors</p>
        </div>
      </div>
    </div>
  </div>
</div>
